<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Info</title>

    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet">
    
</head>
<body>
    <%- include("header") %>

    <main>
        <% for (let i of member) { %>
            <section>

                <figure>
                    <div><img src="<%= i.image_ch %>" alt="Portrait of <%= i.first_name_ch %>"></div>
                    <figcaption>
                        <!-- the next line displays the family name of the character if there is one at all in the database -->
                        <%= i.first_name_ch %> <%= i.family_name_ch %>
                    </figcaption>
                </figure>

            </section>

            <aside>
                <p><%= i.class_ch %></p>
                <p><%= i.alignment_ch %></p>
                <p><%= i.name_area %> (<%= i.id_area %>)</p>
            </aside>
        <% } %>
    </main>
    
    <%- include("footer") %>
    <script src="js/random-message.js"></script>
</body>
</html>


