<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portraits</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet"> 
</head>
<body>
    <%- include("header") %>

    <main>
        <% for (let i of member) { %>
            <section>
                <figure>
                    <a href="/character-info/<%= i.id_ch %>" title="More information on <%= i.first_name_ch %>">
                        <div><img src="<%= i.image_ch %>" alt="Portrait of <%= i.first_name_ch %>"></div>
                        <figcaption>
                            <%= i.first_name_ch %>
                        </figcaption>
                    </a>
                </figure>
            </section>
        <% } %>
    </main>
    
    <%- include("footer") %>
    <script src="js/random-message.js"></script>
</body>
</html>


